<connectionStrings>
  <add name="Faturamento" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=App_Data\fatura.mdb" />
  <add name="Framework" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=App_Data\framework.mdb" />
  <add name="Gastos" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=App_Data\gastos.mdb" />
  <add name="Torchwood" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=App_Data\Torchwood.mdb" />
  <add name="SQLFramework" connectionString="Data Source=.\WEB;Initial Catalog=framework;Persist Security Info=True;User ID=sa;Password=123456" />
  <add name="frenchConn" connectionString="Data Source=.\WEB;Initial Catalog=french;Persist Security Info=True;User ID=sa;Password=123456"
    providerName="System.Data.SqlClient" />
  <add name="frenchConn2005" connectionString="Data Source=.\WEB;Initial Catalog=framework;Persist Security Info=True;User ID=sa;Password=123456"
    providerName="System.Data.SqlClient" />
  <add name="Metaweb" connectionString="Data Source=sql.metaweb.com.br,9104;Initial Catalog=french;Persist Security Info=True;User Id=french; Password=humberx1"
    providerName="System.Data.SqlClient" />
  <add name="MetawebOleDB" connectionString="Data Source=sql.metaweb.com.br,9104;Network Library=DBMSSOCN; Initial Catalog=french; User Id=french; Password=humberx1"
    providerName="System.Data.OleDb" />
  <add name="MetawebOleDB1" connectionString="Provider='SQLOLEDB'; Data Source=sql.metaweb.com.br,9104;Network Library=DBMSSOCN; Initial Catalog=french; User Id=french; Password=humberx1"
    providerName="SQLOLEDBb" />
  <add name="LocalSQLServer.old" connectionString="data source=.\WEB;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" />
  <!-- Webservices Strings-->
  <add name="connHome" connectionString="Data Source=.\WEB;Initial Catalog=framework;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <add name="connMeta" connectionString="Data Source=sql.metaweb.com.br,9104;Initial Catalog=french;Persist Security Info=True;User Id=french; Password=humberx1" providerName="System.Data.SqlClient" />
</connectionStrings>


